<?xml version="1.0" encoding="utf-8"?>
<manifest package="cryptomarket.eoinahern.ie.cryptomarket"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<application
		android:name=".MyApp"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name=".UI.views.main.MainActivity">
            <intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

		</activity>
		<activity android:name=".UI.views.alerts.AlertsActivity">

		</activity>
		<activity android:name=".UI.views.currency.CurrencyActivity" />
		<activity android:name=".UI.views.favourites.FavouritesActivity" />
		<activity android:name=".UI.views.drawer.NavigationDrawerActivity"
			android:launchMode="singleTask"/>

		<meta-data
			android:name="preloaded_fonts"
			android:resource="@array/preloaded_fonts" />
	</application>

</manifest>