<?xml version="1.0" encoding="utf-8"?>
<manifest package="cryptomarket.eoinahern.ie.cryptomarket"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />

	<!-- android:windowSoftInputMode="stateHidden" -->
	<application
		android:name=".MyApp"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".UI.views.main.MainActivity"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".UI.views.alerts.AlertsActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name=".UI.views.currency.CurrencyActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name=".UI.views.favourites.FavouritesActivity"
			android:screenOrientation="portrait" />

		<meta-data
			android:name="preloaded_fonts"
			android:resource="@array/preloaded_fonts" />

		<activity
			android:name=".UI.views.detail.DetailsActivity"
			android:label=""
			android:parentActivityName=".UI.views.main.MainActivity"
			android:screenOrientation="portrait">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".UI.views.main.MainActivity" />
		</activity>
		<activity android:name=".UI.views.news.NewsActivity"></activity>
	</application>

</manifest>